@model Dictionary<string, string>

<h2>Test</h2>

<table class="table">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Key</td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>